// THIS FILE IS GENERATED
$theme: 'dark';

$red: #e67090;
$green: #43c383;
$yellow: #d8e77b;
$blue: #51a4e7;
$magenta: #9077e7;
$teal: #51e6e6;
$orange: #E79E64;

$bg_color: transparentize(#171717, 0.5);
$fg_color: #eee;
$hover_fg: #f1f1f1;

$wm_gaps: 10px;
$radii: 8px;
$spacing: 9px;

$accent: $blue;
$accent_fg: #141414;

$hover: transparentize($fg_color, 0.8460000000000001);
$widget_bg: transparentize($fg_color, 0.94);
$active_gradient: linear-gradient(to right, $accent, lighten(mix($magenta, $blue, 70%), 18%));

$border_color: transparentize($fg_color, 0.97);
$border_width: 1px;
$border: $border_width solid $border_color;

$shadow: rgba(0, 0, 0, .6);
$text_shadow: 2px 2px 2px $shadow;
$icon_shadow: 2px 2px $shadow;

$popover_radius: 13.6px;
$popover_border_color: transparentize($fg_color, 0.96);
$popover_padding: 16.2px;
$drop_shadow: true;

$transition: 200ms;

$font_size: 16px;
$font: 'Inter Nerd Font';
$mono_font: 'IosevkaTerm Nerd Font', monospace;
$wallpaper_fg: white;
$shader_fg: white;

$screen_corners: true;
$bar_style: normal;
$layout: topbar;